<!-- Navbar -->
<nav class="et-navbar navbar">
    <a class="logo h6 mb-0" href="index.html"><img src="assets/img/logo.png" alt="img"> Eventro</a>
    <ul class="nostyle nav-links inline mr-lg-auto text-right text-lg-left flex-lg-grow-1 mb-0">
        <li class="dropdown">
            <a href="index.html">Home</a>
            <ul class="submenu shadow">
                <li><a href="index.html">Home</a></li>
                <li><a href="index-2.html">Home 2</a></li>
                <li><a href="index-3.html">Home 3</a></li>
            </ul>
        </li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown">
            <a href="#">Pages</a>
            <ul class="submenu shadow">
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="404.html">404</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li class="dropdown">
                    <a href="#">Venues</a>
                    <ul class="submenu shadow">
                        <li><a href="our-venues.html">Our Venues</a></li>
                        <li><a href="venue-detail.html">Venue Detail</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
                <li class="dropdown">
                    <a href="#">Speakers</a>
                    <ul class="submenu shadow">
                        <li><a href="speaker.html">Speakers Style 1</a></li>
                        <li><a href="speaker-2.html">Speakers Style 2</a></li>
                        <li><a href="speaker-profile.html">Speaker Profile</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="search.html">Search</a>
            <ul class="submenu shadow">
                <li><a href="search.html">Search Events</a></li>
                <li><a href="search-map-right.html">Search Map Right</a></li>
                <li><a href="search-map-top.html">Search Map Top</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Events</a>
            <ul class="submenu shadow">
                <li><a href="add-event.html">Add Events</a></li>
                <li><a href="event-detail.html">Event Detail</a></li>
                <li><a href="event-calendar.html">Event Calendar</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="blog-grid.html">Blog</a>
            <ul class="submenu shadow">
                <li><a href="blog-grid.html">Blog Grid</a></li>
                <li><a href="blog-detail.html">Blog Detail</a></li>
            </ul>
        </li>
    </ul>
    <div class="nav-actions ml-auto">
        <a href="search.html"><i class="icon-search-2"></i> Search</a>
        <a href="#" data-toggle="modal" data-target="#exampleModal"><i class="icon-login"></i> Login/Signup</a>
        <a href="pricing.html" class="btn btn-primary border-0"><i class="icon-plus btn-icon"></i> Add Event</a>
    </div>
</nav>

<!-- Mobile Menu -->
<nav id="et-mobile-nav">
    <ul class="text-capitalize">
        <li>
            <a href="#">Home</a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index-2.html">Home 2</a></li>
                <li><a href="index-3.html">Home 3</a></li>
            </ul>
        </li>
        <li><a href="about.html">About</a></li>
        <li>
            <a href="#">Pages</a>
            <ul class="submenu">
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="404.html">404</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li class="dropdown">
                    <a href="#">Venues</a>
                    <ul class="submenu shadow">
                        <li><a href="our-venues.html">Our Venues</a></li>
                        <li><a href="venue-detail.html">Venue Detail</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Speakers</a>
                    <ul class="submenu shadow">
                        <li><a href="speaker.html">Speakers Style 1</a></li>
                        <li><a href="speaker-2.html">Speakers Style 2</a></li>
                        <li><a href="speaker-profile.html">Speaker Profile</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="search.html">Search</a>
            <ul class="submenu shadow">
                <li><a href="search.html">Search Events</a></li>
                <li><a href="search-map-right.html">Search Map Right</a></li>
                <li><a href="search-map-top.html">Search Map Top</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Events</a>
            <ul class="submenu shadow">
                <li><a href="add-event.html">Add Events</a></li>
                <li><a href="event-detail.html">Event Detail</a></li>
                <li><a href="event-calendar.html">Event Calendar</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Blog</a>
            <ul>
                <li><a href="blog-grid.html">Blog Grid</a></li>
                <li><a href="blog-detail.html">Blog Detail</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>