<!-- Categories Of Events -->
<section id="et-popular-events" class="container-fluid">
    <div class="container">
        <div class="section-heading">
            <p>Discover best Events around the world by categories.</p>
            <br>
            <h2 class="mb-0">Categorias</h2>
        </div>
        <div class="row">
            <div class="grid">
                <img src="assets/img/popular-event-1.jpg" alt="Popular event">
                <a href="#" class="overlay transition text-decoration-none">
                    <span class="badge-green category badge-secondary">20 Listings</span>
                    <span class="badge badge-secondary float-right"><i class="icon-heart"></i></span>
                    <div class="hidden-data transition">
                        <h3 class="title text-white">Food</h3>
                        <p class="transition mb-2">Lorem ipsum dolor sit amet, consectetur...</p>
                        <p class="transition"><i class="fas fa-map-marker-alt"></i> Fremont St, Las Vegas, NV 89101,
                            United States</p>
                    </div>
                    <div class="timing bg-primary position-absolute w-100 transition"><i class="icon-clock"></i> Starts
                        12AM | Feb, 20 - Ends 06PM | Feb, 24</div>
                </a>
            </div>
            <div class="grid">
                <img src="assets/img/popular-event-2.jpg" alt="Popular event">
                <a href="#" class="overlay transition text-decoration-none">
                    <span class="badge-green category badge-secondary">15 Listings</span>
                    <span class="badge badge-primary float-right"><i class="icon-heart"></i></span>
                    <div class="hidden-data transition">
                        <h3 class="title text-white">Music Clubs</h3>
                        <p class="transition mb-2">Lorem ipsum dolor sit amet, consectetur...</p>
                        <p class="transition"><i class="fas fa-map-marker-alt"></i> Fremont St, Las Vegas, NV 89101,
                            United States</p>
                    </div>
                    <div class="timing bg-primary position-absolute w-100 transition"><i class="icon-clock"></i> Starts
                        12AM | Feb, 20 - Ends 06PM | Feb, 24</div>
                </a>
            </div>
            <div class="grid">
                <img src="assets/img/popular-event-3.jpg" alt="Popular event">
                <a href="#" class="overlay transition text-decoration-none">
                    <span class="badge-green category badge-secondary">55 Listings</span>
                    <span class="badge badge-secondary float-right"><i class="icon-heart"></i></span>
                    <div class="hidden-data transition">
                        <h3 class="title text-white">Auto Shows</h3>
                        <p class="transition mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
                        <p class="transition"><i class="fas fa-map-marker-alt"></i> Fremont St, Las Vegas, NV 89101,
                            United States</p>
                    </div>
                    <div class="timing bg-primary position-absolute w-100 transition"><i class="icon-clock"></i> Starts
                        12AM | Feb, 20 - Ends 06PM | Feb, 24</div>
                </a>
            </div>
            <div class="grid">
                <img src="assets/img/popular-event-4.jpg" alt="Popular event">
                <a href="#" class="overlay transition text-decoration-none">
                    <span class="badge-green category badge-secondary">23 Listings</span>
                    <span class="badge badge-secondary float-right"><i class="icon-heart"></i></span>
                    <div class="hidden-data transition">
                        <h3 class="title text-white">Sports</h3>
                        <p class="transition mb-2">Lorem ipsum dolor sit amet, consectetur...</p>
                        <p class="transition"><i class="fas fa-map-marker-alt"></i> Fremont St, Las Vegas, NV 89101,
                            United States</p>
                    </div>
                    <div class="timing bg-primary position-absolute w-100 transition"><i class="icon-clock"></i> Starts
                        12AM | Feb, 20 - Ends 06PM | Feb, 24</div>
                </a>
            </div>
        </div>
    </div>
</section>