<!-- CATEGORIAS -->
<section id="et-popular-events" class="container-fluid">
    <div class="container">
        <div class="section-heading">
            <p>Descubre nuestra plataforma adecuada a tus necesidades</p>
            <br>
            <h2 class="mb-0">Categorias</h2>
        </div>
        <div class="row">

            <div class="grid" *ngFor="let categoria of infoService.categorias">
                <img src="{{ categoria.url }}" alt="Popular event">
                <a href="#" class="overlay transition text-decoration-none">
                    <span class="badge-green category badge-secondary">20 Productos</span>
                    <span class="badge badge-secondary float-right"><i class="icon-heart"></i></span>
                    <div class="hidden-data transition">
                        <h3 class="title text-white">{{ categoria.nombre }}</h3>
                        <p class="transition mb-2">Lorem ipsum dolor sit amet, consectetur...</p>
                        <p class="transition"><i class="fas fa-map-marker-alt"></i> Bolivia</p>
                    </div>
                    <div class="timing bg-primary position-absolute w-100 transition"><i class="icon-login"></i> 25 Usuarios registrados como: {{ categoria.nombre }}</div>
                </a>
            </div>
            
        </div>
    </div>
</section>