<!-- Latest News -->
<section id="et-latest-news" class="container-fluid mt-5">
    <div class="section-heading">
        <p>Blog posts listed here with all types</p>
        <br>
        <h2 class="mb-0">Capacitaciones</h2>
    </div>
    <div class="owl-carousel owl-theme">
        <!-- Item -->
        <div class="item">
            <div class="blog-grid boxhover transition w-100 mt-4 rounded shadow">
                <div class="image-wrap img-overlay position-relative">
                    <span class="badge badge-primary photocount pointer position-absolute"><i class="icon-eye"></i>
                        25</span>
                    <span class="author-avatar overflow-hidden position-absolute shadow"><img src="assets/img/author-1.jpg"
                            alt="Author"></span>
                    <img src="assets/img/event-grid-1.jpg" alt="img" class="img-fluid rounded-top">
                </div>
                <div class="content p-4">
                    <p class="text-muted">Posted 2 days ago</p>
                    <h4 class="mb-3"><a href="#" class="text-decoration-none text-reset">Whats in Meeting ?</a></h4>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
                    </p>
                    <hr>
                    <div class="d-flex align-items-center">
                        <a href="#" class="text-decoration-none text-primary">Tips and Lifestyle</a>
                        <a href="#"
                            class="bg-primary text-white readmore rounded text-decoration-none d-inline-flex align-items-center justify-content-center border-0 ml-auto"><i
                                class="icon-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="item">
            <div class="blog-grid boxhover transition w-100 mt-4 rounded shadow">
                <div class="image-wrap img-overlay position-relative">
                    <span class="badge badge-primary photocount pointer position-absolute"><i class="icon-eye"></i>
                        25</span>
                    <span class="author-avatar overflow-hidden position-absolute shadow"><img src="assets/img/author-2.jpg"
                            alt="Author"></span>
                    <img src="assets/img/event-grid-2.jpg" alt="img" class="img-fluid rounded-top">
                </div>
                <div class="content p-4">
                    <p class="text-muted">Posted 2 days ago</p>
                    <h4 class="mb-3"><a href="#" class="text-decoration-none text-reset">Love the Ride</a></h4>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
                    </p>
                    <hr>
                    <div class="d-flex align-items-center">
                        <a href="#" class="text-decoration-none text-primary">Tips and Lifestyle</a>
                        <a href="#"
                            class="bg-primary text-white readmore rounded text-decoration-none d-inline-flex align-items-center justify-content-center border-0 ml-auto"><i
                                class="icon-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="item">
            <div class="blog-grid boxhover transition w-100 mt-4 rounded shadow">
                <div class="image-wrap img-overlay position-relative">
                    <span class="badge badge-primary photocount pointer position-absolute"><i class="icon-eye"></i>
                        25</span>
                    <span class="author-avatar overflow-hidden position-absolute shadow"><img src="assets/img/author-3.jpg"
                            alt="Author"></span>
                    <img src="assets/img/event-grid-3.jpg" alt="img" class="img-fluid rounded-top">
                </div>
                <div class="content p-4">
                    <p class="text-muted">Posted 2 days ago</p>
                    <h4 class="mb-3"><a href="#" class="text-decoration-none text-reset">Help African</a></h4>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
                    </p>
                    <hr>
                    <div class="d-flex align-items-center">
                        <a href="#" class="text-decoration-none text-primary">Tips and Lifestyle</a>
                        <a href="#"
                            class="bg-primary text-white readmore rounded text-decoration-none d-inline-flex align-items-center justify-content-center border-0 ml-auto"><i
                                class="icon-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="item">
            <div class="blog-grid boxhover transition w-100 mt-4 rounded shadow">
                <div class="image-wrap img-overlay position-relative">
                    <span class="badge badge-primary photocount pointer position-absolute"><i class="icon-eye"></i>
                        25</span>
                    <span class="author-avatar overflow-hidden position-absolute shadow"><img src="assets/img/author-1.jpg"
                            alt="Author"></span>
                    <img src="assets/img/event-grid-4.jpg" alt="img" class="img-fluid rounded-top">
                </div>
                <div class="content p-4">
                    <p class="text-muted">Posted 2 days ago</p>
                    <h4 class="mb-3"><a href="#" class="text-decoration-none text-reset">New Resturant</a></h4>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
                    </p>
                    <hr>
                    <div class="d-flex align-items-center">
                        <a href="#" class="text-decoration-none text-primary">Tips and Lifestyle</a>
                        <a href="#"
                            class="bg-primary text-white readmore rounded text-decoration-none d-inline-flex align-items-center justify-content-center border-0 ml-auto"><i
                                class="icon-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="item">
            <div class="blog-grid boxhover transition w-100 mt-4 rounded shadow">
                <div class="image-wrap img-overlay position-relative">
                    <span class="badge badge-primary photocount pointer position-absolute"><i class="icon-eye"></i>
                        25</span>
                    <span class="author-avatar overflow-hidden position-absolute shadow"><img src="assets/img/author-2.jpg"
                            alt="Author"></span>
                    <img src="assets/img/event-grid-5.jpg" alt="img" class="img-fluid rounded-top">
                </div>
                <div class="content p-4">
                    <p class="text-muted">Posted 2 days ago</p>
                    <h4 class="mb-3"><a href="#" class="text-decoration-none text-reset">News Plans 2020</a></h4>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
                    </p>
                    <hr>
                    <div class="d-flex align-items-center">
                        <a href="#" class="text-decoration-none text-primary">Tips and Lifestyle</a>
                        <a href="#"
                            class="bg-primary text-white readmore rounded text-decoration-none d-inline-flex align-items-center justify-content-center border-0 ml-auto"><i
                                class="icon-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="item">
            <div class="blog-grid boxhover transition w-100 mt-4 rounded shadow">
                <div class="image-wrap img-overlay position-relative">
                    <span class="badge badge-primary photocount pointer position-absolute"><i class="icon-eye"></i>
                        25</span>
                    <span class="author-avatar overflow-hidden position-absolute shadow"><img src="assets/img/author-3.jpg"
                            alt="Author"></span>
                    <img src="assets/img/event-grid-3.jpg" alt="img" class="img-fluid rounded-top">
                </div>
                <div class="content p-4">
                    <p class="text-muted">Posted 2 days ago</p>
                    <h4 class="mb-3"><a href="#" class="text-decoration-none text-reset">Lorem ipsum dolor</a></h4>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
                    </p>
                    <hr>
                    <div class="d-flex align-items-center">
                        <a href="#" class="text-decoration-none text-primary">Tips and Lifestyle</a>
                        <a href="#"
                            class="bg-primary text-white readmore rounded text-decoration-none d-inline-flex align-items-center justify-content-center border-0 ml-auto"><i
                                class="icon-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="item">
            <div class="blog-grid boxhover transition w-100 mt-4 rounded shadow">
                <div class="image-wrap img-overlay position-relative">
                    <span class="badge badge-primary photocount pointer position-absolute"><i class="icon-eye"></i>
                        25</span>
                    <span class="author-avatar overflow-hidden position-absolute shadow"><img src="assets/img/author-1.jpg"
                            alt="Author"></span>
                    <img src="assets/img/event-grid-1.jpg" alt="img" class="img-fluid rounded-top">
                </div>
                <div class="content p-4">
                    <p class="text-muted">Posted 2 days ago</p>
                    <h4 class="mb-3"><a href="#" class="text-decoration-none text-reset">Lorem ipsum dolor</a></h4>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
                    </p>
                    <hr>
                    <div class="d-flex align-items-center">
                        <a href="#" class="text-decoration-none text-primary">Tips and Lifestyle</a>
                        <a href="#"
                            class="bg-primary text-white readmore rounded text-decoration-none d-inline-flex align-items-center justify-content-center border-0 ml-auto"><i
                                class="icon-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>