<!-- Latest Venues -->
<section id="et-recent_projects" class="container-fluid">
    <div class="container">
        <div class="section-heading">
            <p>Lorem ipsum dolor emet</p>
            <br>
            <h2 class="mb-0">Productos</h2>
        </div>
        <!-- Recent Venue row -->
        <div class="row">

            <!-- Venue box -->
            <div class="col-md-4 pr-4" *ngFor="let product of infoService.productos">
                <div class="box">
                    <div class="project_image">
                        <img src="{{ product.url }}" alt="venue" />
                    </div>
                    <div class="project_overlay">
                        <div class="content">
                            <h4><a href="#" class="text-decoration-none text-reset">{{ product.nombre }}</a></h4>
                            <p class="transition text-white"><i class="fas fa-tag"></i> {{ product.categoria }}</p>
                            <a href="#" class="position-relative border-0 transition btn btn-primary">Ver producto</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Venue box -->

        </div>
        <!-- /Our Venue row -->
    </div>
</section>
<!-- /Recent Venue -->