<!-- Speakers -->
<section id="et-event-speakers" class="container-fluid">
    <div class="container">
        <div class="section-heading">
            <p>Consume productos ecológicos</p>
            <br>
            <h2 class="mb-0">Productos exclusivos de la Ecoferia</h2>
        </div>
        <!-- Speakers -->
        <div class="event-Speakers content-box">
            <div class="row">

                <div class="col-md-4" *ngFor="let product of infoService.productos_ecoferia">
                    <div class="speaker pt-25 position-relative" style="text-align: center; margin-bottom: 20px;">
                        <img src="https://firebasestorage.googleapis.com/v0/b/vendame-d7a95.appspot.com/o/ecoferia.jpg?alt=media&token=c21b837b-3d71-4e9d-b630-64ba34175109" alt="speaker" width="150px height: 150px" style="margin-bottom: 20px;">
                        <div class="content rounded shadow text-center p-2 w-75 m-auto bg-white transition position-relative">
                            <h5><a href="#" class="text-decoration-none text-reset">{{ product.Producto }}</a></h5>
                            <p class="mb-0 text-primary">{{ product.Costo }} Bs.</p>
                            <p class="mb-0 text-green">{{ product.Peso }}</p>
                            <ul class="social position-absolute transition d-inline-block m-0 nostyle inline p-0">
                                <li><a href="#" class="d-flex align-items-center justify-content-center text-decoration-none transition"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="d-flex align-items-center justify-content-center text-decoration-none transition"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="d-flex align-items-center justify-content-center text-decoration-none transition"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>