@import url('typeface.css');
body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #212529;
}
p{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height:26px;
}
p.description{
	font-weight: 400;
	color: #515d6d;
}
h1 {
    font-size: 2.827em;
	font-weight: 700;
	color:#262626;
	transition: all ease 0.3s;
	font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 1.999em;
	font-weight: 700;
	color:#262626;
	transition: all ease 0.3s;
	font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 1.414em;
	font-weight: 700;
	color:#262626;
	transition: all ease 0.3s;
	font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 1.25em;
	font-weight: 700;
	color:#262626;
	transition: all ease 0.3s;
	font-family: 'Montserrat', sans-serif;
}

h5 {
    font-size: 1em;
	font-weight: 700;
	color:#262626;
	transition: all ease 0.3s;
	font-family: 'Montserrat', sans-serif;
}

h6 {
    font-size: 0.85em;
	font-weight: 700;
	color:#262626;
	transition: all ease 0.3s;
	font-family: 'Montserrat', sans-serif;
}
.btn,
#timer{
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.form-control{
	font-family: 'Montserrat', sans-serif;
}
