<footer id="et-site-footer" class="container-fluid position-relative bg-footer text-white pt-5 pb-2">
    <div class="container">
        <div class="row">
            <!--About-->
            <div class="col-md-3 about widget">
                <a class="logo h6 mb-0 text-decoration-none text-white" href="#"><img src="assets/img/logo.png" alt="img"> Véndameeee</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                <ul class="social nostyle inline text-white p-0">
                    <li class="mr-2"><a href="#" class="text-white d-block text-decoration-none transition"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="mr-2"><a href="#" class="text-white d-block text-decoration-none transition"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                    <li class="mr-2"><a href="#" class="text-white d-block text-decoration-none transition"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="mr-2"><a href="#" class="text-white d-block text-decoration-none transition"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                    <li class="mr-2"><a href="#" class="text-white d-block text-decoration-none transition"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <!--Contact-->
            <div class="col-md-3 contact widget">
                <h5>Contact Us</h5>
                <ul class="nostyle text-white p-0">
                    <li class="mt-4 d-block"><i class="fas fa-envelope"></i>&nbsp; Eventro@event.com</li>
                    <li class="mt-4 d-block"><i class="fas fa-phone-alt"></i>&nbsp; (888)451-8908 - 341</li>
                    <li class="mt-4 d-block"><i class="fas fa-map-marker-alt"></i>&nbsp; Bell Str, P.O. Box 22484, Dallas, TX 75222-9785</li>
                </ul>
            </div>
            <!--Navigation-->
            <div class="col-md-3 navigation widget">
                <h5>Navegación</h5>
                <ul class="nostyle text-white p-0">
                    <li class="mt-4 d-block"><a routerLink="inicio">Inicio</a></li>
                    <li class="mt-4 d-block"><a routerLink="capacitaciones">Capacitaciones</a></li>
                    <li class="mt-4 d-block"><a routerLink="categorias">Categorias</a></li>
                    <li class="mt-4 d-block"><a routerLink="productos">Productos</a></li>
                </ul>
            </div>

            <!--Navigation-->
            <div class="col-md-3 navigation widget">
                <h5>Navigation</h5>
                <ul class="nostyle text-white p-0">
                    <li class="mt-4 d-block"><a href="#">Terms & conditions</a></li>
                    <li class="mt-4 d-block"><a href="#">Privacy policy</a></li>
                    <li class="mt-4 d-block"><a href="#">Cookies policy</a></li>
                    <li class="mt-4 d-block"><a href="#">Copyrights Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="et-bottom-bar pt-2 pb-2">
    <div class="container">
        <div class="row justify-content-md-left justify-content-center align-items-center">
            <div class="partners">
                <a href="#"><img src="assets/img/partner-1.png" alt="partner"></a>
                <a href="#"><img src="assets/img/partner-2.png" alt="partner"></a>
                <a href="#"><img src="assets/img/partner-3.png" alt="partner"></a>
            </div>
            <div class="ml-sm-auto mt-3 mt-sm-0">
                <p class="mb-0">Copyright © {{date}} de Julio, {{year}} - <a class="text-decoration-none text-reset" href="http://www.exactthemes.com/">Véndameeee</a></p>
            </div>
        </div>
    </div>
</div>